<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'products/base.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}Register | {% endblock title %}</title>
</head>
<body>
    {% load bootstrap4 %}

    {% block header %}
      <h5 class="text-center">Register an Account here</h5>
    {% endblock header %}

    {% block content %}
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto">
              <form action="{% url 'users:register' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="btn btn-primary mb-3" name="submit">Register</button>
              </form>
            </div>
          </div>
        </div>
    {% endblock content %}
</body>
</html>
